Repository InsightSoftwareConsortium/ITKSphinxExamples, pull requests merged in 2021-12, with the labels that each got.

#313 BUG: Corrected VTK image from image conversion.
  src/Bridge/VtkGlue/ConvertAnRGBitkImageTovtkImageData/Code.py
  src/Bridge/VtkGlue/ConvertAnitkImageTovtkImageData/Code.py
Labels: type:Bug, area:Bridge, language:Python

#315 COMP: Modules need updated version of ITK
  .github/workflows/build-test-publish.yml
Labels: type:Compiler, type:Infrastructure

#316 ENH: Miscellaneous fixes to developer files
  src/Developer/ImageFilter.h
  src/Developer/ImageFilter.hxx
  src/Developer/ImageFilterMultipleInputsDifferentType.h
  src/Developer/ImageFilterMultipleInputsDifferentType.hxx
  src/Developer/ImageFilterMultipleOutputs.h
  src/Developer/ImageFilterMultipleOutputs.hxx
  src/Developer/ImageFilterMultipleOutputsDifferentType.h
  src/Developer/ImageFilterMultipleOutputsDifferentType.hxx
  src/Developer/ImageFilterX.h
  src/Developer/ImageFilterX.hxx
  src/Developer/ImageFilterY.h
  src/Developer/ImageFilterY.hxx
  src/Developer/ImageSource.h
  src/Developer/ImageSource.hxx
  src/Developer/MultiThreadedImageFilter.h
  src/Developer/MultiThreadedImageFilter.hxx
  src/Developer/MyInPlaceImageFilter.h
  src/Developer/MyInPlaceImageFilter.hxx
  src/Developer/itkImageFilterMultipleInputs.h
  src/Developer/itkImageFilterMultipleInputs.hxx
  src/Developer/itkOilPaintingImageFilter.h
  src/Developer/itkOilPaintingImageFilter.hxx
Labels: type:Enhancement
