Repository InsightSoftwareConsortium/ITKSphinxExamples, pull requests merged in 2022-05, with the labels that each got.

#348 BUG: Revert deploy to Netlify
  .fleek.json
  .github/workflows/build-test-publish.yml
  Superbuild/External-ITK.cmake
  Superbuild/External-Python.cmake
  src/Registration/Metricsv4/RegisterTwoPointSets/CMakeLists.txt
Labels: type:Bug, area:Registration, type:Infrastructure

#364 STYLE: Simplify C++ example of ReadAnImage by calling `itk::ReadImage`
  src/IO/ImageBase/ReadAnImage/Code.cxx
Labels: area:IO, type:Style, language:C++

#365 BUG: Use Doxygen 5.2.0 archives rather than nightly
  CMake/DownloadDoxygen.cmake
  CMake/DownloadDoxygenTAG.cmake
  CMake/DownloadDoxygenXML.cmake
Labels: type:Infrastructure

#368 ENH: Add `ImageBufferAndIndexRange` example
  src/Core/Common/CMakeLists.txt
  src/Core/Common/ImageBufferAndIndexRange/CMakeLists.txt
  src/Core/Common/ImageBufferAndIndexRange/Code.cxx
  src/Core/Common/ImageBufferAndIndexRange/Documentation.rst
  src/Core/Common/index.rst
Labels: type:Enhancement, area:Core, area:Documentation, type:Infrastructure, language:C++

#254 ENH: `ScaleAnImage` Python example and input data update
  src/Core/Transform/CMakeLists.txt
  src/Core/Transform/ScaleAnImage/CMakeLists.txt
  src/Core/Transform/ScaleAnImage/Code.cxx
  src/Core/Transform/ScaleAnImage/Code.py
  src/Core/Transform/ScaleAnImage/Documentation.rst
  src/Core/Transform/ScaleAnImage/ScaleAnImageInput.png.sha512
  src/Core/Transform/ScaleAnImage/ScaleAnImageOutput.png.sha512
  src/Core/Transform/ScaleAnImage/ScaleAnImageOutputBaseline.png.sha512
Labels: type:Enhancement, area:Core, area:Documentation, type:Infrastructure, type:Data, language:C++, language:Python

#383 ENH: Adding Python example to create mesh and cells
  src/Core/Mesh/AddPointsAndEdges/Code.py
Labels: type:Enhancement, area:Core, language:Python

#366 ENH: Add an example that demonstrates interfacing with NumPy
  .binder/requirements.txt
  .github/workflows/build-test-publish.yml
  Superbuild/External-Python.cmake
  src/Bridge/CMakeLists.txt
  src/Bridge/NumPy/CMakeLists.txt
  src/Bridge/NumPy/ConvertNumPyArrayToitkImage/CMakeLists.txt
  src/Bridge/NumPy/ConvertNumPyArrayToitkImage/Code.py
  src/Bridge/NumPy/ConvertNumPyArrayToitkImage/ConvertNumPyArrayToitkImage.ipynb
  src/Bridge/NumPy/ConvertNumPyArrayToitkImage/Documentation.rst
  src/Bridge/NumPy/ConvertNumPyArrayToitkImage/Slice.png.sha512
  src/Bridge/NumPy/ConvertNumPyArrayToitkImage/SliceRevised.png.sha512
  src/Bridge/NumPy/index.rst
  src/Bridge/index.rst
Labels: type:Enhancement, area:Documentation, type:Infrastructure, area:Bridge, type:Data, language:Python, type:Python Notebook

#382 ENH: Add example on Python eager loading
  src/Core/Common/CMakeLists.txt
  src/Core/Common/EagerModuleLoadingPython/CMakeLists.txt
  src/Core/Common/EagerModuleLoadingPython/Code.py
  src/Core/Common/EagerModuleLoadingPython/Documentation.rst
  src/Core/Common/index.rst
Labels: type:Enhancement, area:Core, area:Documentation, type:Infrastructure, language:Python

#384 ENH: Add Python example on module loading printouts
  src/Core/Common/PrintModuleLoadingPython/CMakeLists.txt
  src/Core/Common/PrintModuleLoadingPython/Code.py
  src/Core/Common/PrintModuleLoadingPython/Documentation.rst
  src/Core/Common/index.rst
Labels: type:Enhancement, area:Core, area:Documentation, type:Infrastructure, language:Python

#386 DOC: Adjust title of `ImageBufferAndIndexRange` example
  src/Core/Common/ImageBufferAndIndexRange/Documentation.rst
Labels: area:Core, area:Documentation

#66 ENH: Translating Mesh3 C++ example into Python
  src/Core/Mesh/AccessDataInCells/CMakeLists.txt
  src/Core/Mesh/AccessDataInCells/Code.cxx
  src/Core/Mesh/AccessDataInCells/Code.py
  src/Core/Mesh/AccessDataInCells/Documentation.rst
  src/Core/Mesh/CMakeLists.txt
  src/Core/Mesh/index.rst
Labels: type:Enhancement, area:Core, area:Documentation, type:Infrastructure, language:C++, language:Python

#387 ENH: Add Python Example GlobalRegistrationOfTwoImages
  src/Registration/Common/GlobalRegistrationOfTwoImages/CMakeLists.txt
  src/Registration/Common/GlobalRegistrationOfTwoImages/Code.py
Labels: type:Enhancement, area:Registration, type:Infrastructure, language:Python
