Repository InsightSoftwareConsortium/ITKSphinxExamples, pull requests merged in 2022-03, with the labels that each got.

#325 BUG: Fixes for HTML documentation
  CMake/DownloadDoxygenTAG.cmake
  src/Filtering/ImageGrid/CropImageBySpecifyingRegion2/Code.cxx
Labels: type:Bug, area:Filtering, type:Infrastructure, language:C++

#327 BUG: Ignore breathe duplicate C++ warnings in docs CI
  .github/workflows/build-test-publish.yml
Labels: type:Bug, type:Infrastructure

#331 ENH: Remove redundant ITK build step in docs CI
  .github/workflows/build-test-publish.yml
Labels: type:Enhancement, type:Infrastructure

#321 ENH: Update ITK to 5.3 RC 3
  Superbuild/External-ITK.cmake
  Superbuild/External-Python.cmake
Labels: type:Enhancement, type:Infrastructure

#334 ENH: Deploy docs to Fleek
  .github/workflows/build-test-publish.yml
Labels: type:Enhancement, type:Infrastructure

#340 BUG: Fix github actions variable ref
  .github/workflows/build-test-publish.yml
Labels: type:Bug, type:Infrastructure
