Repository InsightSoftwareConsortium/ITKSphinxExamples, pull requests merged in 2023-01, with the labels that each got.

#409 COMP: Bump minimum CMake version to 3.16.3
  Superbuild/CMakeLists.txt
  Utilities/CookieCutter/{{cookiecutter.example_name}}/CMakeLists.txt
  src/Core/Mesh/AccessDataInCells/CMakeLists.txt
  src/Filtering/BinaryMathematicalMorphology/DilateABinaryImage/CMakeLists.txt
Labels: area:Core, area:Filtering, type:Compiler, type:Infrastructure

#410 ENH: Add DeformAVolumeWithAThinPlateSpline
  ITKRepositoryImport.todo
  src/Core/Transform/CMakeLists.txt
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/CMakeLists.txt
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/CheckerBoard.png.cid
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/Code.cxx
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/Code.py
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/DeformedImage.png.cid
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/DeformedImageBaseline.mha.cid
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/Documentation.rst
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/InputImage.png.cid
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/SourceLandmarks.vtk.cid
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/TargetLandmarks.vtk.cid
  src/Core/Transform/DeformAVolumeWithAThinPlateSpline/brainweb165a10f17.mha.cid
  src/Core/Transform/index.rst
Labels: type:Enhancement, area:Core, area:Documentation, type:Infrastructure, type:Data, language:C++, language:Python

#412 STYLE: Capitalize first letter for `Histogram` class name in index
  src/Numerics/Statistics/CreateHistogramFromListOfMeasurements/Documentation.rst
Labels: type:Bug, area:Documentation, area:Numerics

#414 ENH: Transition to `nbmake` to test notebooks
  .github/workflows/build-test-publish.yml
Labels: type:Enhancement, type:Infrastructure
