Repository InsightSoftwareConsortium/ITKSphinxExamples, pull requests merged in 2024-11, with the labels that each got.

#429 ENH: Bump `macOS` version to 10.13 in GHA build, test, publish
  .github/workflows/build-test-publish.yml
Labels: type:Enhancement, type:Infrastructure

#430 ENH: Fix macOS GHA toolchain
  .github/workflows/build-test-publish.yml
  .github/workflows/lint.yml
Labels: type:Enhancement, type:Infrastructure

#424 ENH: Bump ITK to 5.4.0 release
  .github/workflows/build-test-publish.yml
  Superbuild/External-ITK.cmake
  Superbuild/External-Python.cmake
Labels: type:Enhancement, type:Infrastructure

#427 STYLE: Specify ReadTheDocs custom domain configuration
  Formatting/conf.py.in
Labels: type:Infrastructure, type:Style

#421 COMP: Replace itkTypeMacro calls with `itkOverrideGetNameOfClassMacro`
  src/Developer/ImageFilter.h
  src/Developer/ImageFilterMultipleInputsDifferentType.h
  src/Developer/ImageFilterMultipleOutputs.h
  src/Developer/ImageFilterMultipleOutputsDifferentType.h
  src/Developer/ImageFilterX.h
  src/Developer/ImageFilterY.h
  src/Developer/ImageSource.h
  src/Developer/MultiThreadedImageFilter.h
  src/Developer/MyInPlaceImageFilter.h
  src/Developer/itkImageFilterMultipleInputs.h
  src/Developer/itkOilPaintingImageFilter.h
  src/Numerics/Optimizers/AmoebaOptimizer/ExampleCostFunction.h
  src/Numerics/Optimizers/LevenbergMarquardtOptimization/itkExampleCostFunction.h
Labels: area:Numerics, type:Compiler
